# Flask-related dependencies
Flask
Flask-Cors
gunicorn
# PyTorch and torchvision
torch
torchvision
torchaudio
-f https://download.pytorch.org/whl/cpu

# Transformers library
transformers

# PIL (Python Imaging Library)
pillow
openai

# phi-related dependencies
phi
phidata
# Machine learning and preprocessing
scikit-learn
albumentations
albumentations[imgaug]
albumentations[pytorch]

# PDF processing
pdfplumber

# Google Generative AI
google-generativeai
duckduckgo-search
gemini
newspaper4k
# Data manipulation
pandas
numpy
json
spacy
re
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz

# NLP processing

