Flask==2.3.2
gunicorn==20.1.0
torch==2.5.1
torchvision==0.15.2
torchaudio==2.5.1
transformers==4.48.1
numpy==1.25.2
Pillow==11.1.0
albumentations==2.0.0
scikit-learn==1.6.1
pdfplumber==0.11.5
spacy==3.8.4
Flask-Cors==3.1.0
openai==0.27.10
scapy==2.5.0
newspaper4k==0.2.8
duckduckgo-search==2.8.7
phi==0.6.7
phidata==2.7.9
