# Flask-related dependencies
Flask
Flask-Cors
gunicorn

# PyTorch and related dependencies (CPU version)
torch
torchvision
torchaudio
-f https://download.pytorch.org/whl/cpu

# Transformers library
transformers

# PIL (Python Imaging Library)
pillow

# OpenAI API
openai

# phi-related dependencies
phi
phidata

# Machine learning and preprocessing
scikit-learn
albumentations


# PDF processing
pdfplumber

# Google Generative AI and related tools
google-generativeai
duckduckgo-search
gemini
newspaper4k

# Data manipulation
pandas
numpy

# SpaCy and English model
spacy
